<! DOCTYPE html>
<%- include('../parts/head') %>
<body class="container">
    <%- include('../parts/header', {pagina: 'about'}) %>
    <main>
        <div class="jumbotron">
            <h1>about me</h1>
            <p>Lorem ipsum dolor sit amet.</p>
        </div>
    </main>
    <%- include('../parts/footer') %>
</body>
</html>